<!DOCTYPE html>
<html ng-app="ShoppingListApp">
  <head>
    <meta charset="utf-8">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="app.js"></script>
    <title>ng-repeat</title>
  </head>
  <body>
    <h1>ng-repeat</h1>
    <div ng-controller='ShopingListController'>
      <h3>Shopping List :</h3>
      <ul>
        <li ng-repeat="item in shoppingList1">{{ item }}</li>
      </ul>
      <!-- shopping List #2:
      <ul>
        <li ng-repeat="item in shoppingList2"Buy {{item.quantity}}   of {{item.name}}(s)</li>
      </ul>
      shopping List #3:
      <ul>
        <li ng-repeat="item in shoppingList2"{{$index +1}},Buy {{item.quantity}} of {{item.name}}(s)</li>
      </ul> -->
    </div>
  </body>
</html>
